beautifulsoup4==4.6.3
boto==2.49.0
boto3==1.7.82
botocore==1.10.82
breadability==0.1.20
bz2file==0.98
certifi==2018.8.13
chardet==3.0.4
dj-database-url==0.5.0
Django==2.1
django-heroku==0.3.1
docopt==0.6.2
docutils==0.14
future==0.16.0
gensim==3.5.0
gunicorn==19.9.0
idna==2.7
jmespath==0.9.3
lexrank==0.1.0
lxml==4.2.4
nltk==3.3
numpy==1.15.0
parsedatetime==2.4
path.py==11.0.1
pathlib==1.0.1
pipenv==2018.7.1
psycopg2==2.7.5
psycopg2-binary==2.7.5
pyrsistent==0.14.4
python-dateutil==2.7.3
pytz==2018.5
regex==2018.8.17
requests==2.19.1
s3transfer==0.1.13
scipy==1.1.0
six==1.11.0
smart-open==1.6.0
sumy==0.7.0
uritools==2.2.0
urlextract==0.8.3
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==4.0
wikipedia==1.4.0
