{% extends 'form.html' %}

{% block content %}
{% if sum %}
     <p style="text-align:center;"><font size="5">You searched for "{{ s_w }}".<br>{{err}}{{er_t}}</font><br></p>
     <center><p><font size="4"<b>Link- </b><a href="{{wiki}}">{{wiki}}</a></p></center>
     <p><br></br><b>Summary</b> - {{sum}}  <br></br> <b>Timeline Sentences</b> - <br>  </br></p>
     <p><b>{{time}}-</b>
       {%for i in timeline_sentences%}
              {{i}}
       {%endfor%}

       </tr>
     </p>
     <p>
       <br><b>Sentence Embedding</b> - <br>
     </p>
     <p>
        {%for i in d2v%}
            {{i}}<br>
         {%endfor%}
     </p>
</font>
{% endif %}
{% endblock %}
